h1{
    justify-content: center;
   border: 0;
}


img{
    width: 250px;
}


.container{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 0;
}


.box{
    display: flex;
    width: 600px;
    border: 0;
    background-color: rgb(15,144,15)
}


p{
    font-style: italic;
}


.date{
    font-size:100%;
    width: 100%;
}

.picture{
    width: 75%;
    height: 75%;
    position: relative;
    display: inline-block;
    margin: 25px;
}

.picture .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.picture:hover .img-top{
    display: inline;
}